@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family: "Open Sans", serif;
}

nav ul{
    display: flex;
    align-items: center;

    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", serif;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('./bg.jpg');
    background-size:70%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    /* box-sizing: border-box;  */
}

.bottom{
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 120px;
    background-color: black;
    bottom:0;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 60%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 20px;
}

.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px;
}

.songInfo{
    color: white;
    position: absolute;
    left: 10vw;
    font-family: "Varela Round", serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.6s ease-in;
}